# /etc/exports

# Usually I only use NFS in a read-only situation and this file is configured
# based on that assumption (primarily KODI).
# http://kodi.wiki/view/NFS

/mnt/storage/movies       *({{ nfs_rx }},sync,no__squash)
/mnt/storage/tv           *({{ nfs_rx }},sync,no_rootash)